.git
.gitignore
node_modules
.next
out
.pnpm-store
docker-version
Dockerfile
build.sh
.env
.env.*
!.env.example
docs
tests
coverage
*.log
*.tsbuildinfo
next-env.d.ts
.vscode
.idea
pnpm-workspace.yaml
README.md